.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cafeTitle {
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2vh 0;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin: 0 1vw;
  font-weight: bolder;
}

h5 {
  text-align: center;
  color: #ffffff;
  margin: 0 1vw;
  font-weight: lighter;
}

.rating {
  color: #00e1ff;
  margin-bottom: 3vh;
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  border-radius: 10px;
}

.rating:hover {
  color: #a53131;
}

.tab {
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  float: left;
  width: auto;
  margin-left: 10px;
}

.tab button {
  display: block;
  background: rgba(34, 15, 26, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: rgba(90, 34, 66, 0.8);
}

.tabcontent {
  float: right;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  height: 100vh;
}

.cafeContent {
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  height: auto;
  color: white;
  width: 40vw;
}

.addEventBtn {
  font-size: 10px;
  background-color: inherit;
}
