.topRated {
  color: #8cf04a;
  max-width: 40vw;
  padding: 1vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  background-color: #254e58;
}

h3 {
  align-self: center;
  margin-bottom: 1vw;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #88bdbc;
}
