.topRated {
  max-width: 12vw;
  padding: 1vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  background-color: rgba(66, 86, 100, 0.925);
  color: white;
}

.cafes {
  color: rgb(153, 240, 255);
}

h3 {
  align-self: center;
  margin-bottom: 1vw;
}

.link:hover {
  text-decoration: none;
}
