ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin-bottom: 1vw;
  color: rgb(58, 65, 68);
}

.trendsList {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(168, 111, 64, 0.623);
  color: white;
  text-align: center;
  font-weight: 700;
}
