ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  color: white;
}

li {
  margin-bottom: 1vw;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #88bdbc;
}

.trendsList {
  max-width: 40vw;
  padding: 1vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #112d32;
}

h3 {
  align-self: center;
  margin-bottom: 1vw;
  color: white;
}
