ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  color: white;
}

li {
  margin-bottom: 1vw;
}

.events {
  color: rgb(153, 240, 255);
}

.trendsList {
  max-width: 15vw;
  padding: 1vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(66, 86, 100, 0.925);
}

h3 {
  align-self: center;
  margin-bottom: 1vw;
  color: white;
}

.link:hover {
  text-decoration: none;
}
