.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  width: fit-content;
}
