ul {
  list-style-type: none;
  padding: 0;
}

.favsList {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
  color: #88bdbc;
}
