ul {
  list-style-type: none;
  padding: 0;
}

.favsList {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 26px;
}

.link {
  color: rgba(26, 229, 236, 0.973);
}

.link:hover {
  text-decoration: none;
  color: #88bdbc;
}
