.profile {
  padding: 0vh 5vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: stretch;
}
.userInfo {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  /* padding: 3vw 1vw; */
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  border-radius: 10px;
}

.favsContainer {
  margin: 0 1vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100vh;
  /* background-color: #254e58; */
  background: rgba(34, 15, 26, 0.8);
  padding: 5px;
  border-radius: 10px;
}

h2 {
  color: white;
  align-self: center;
  margin-bottom: 1vw;
}

button {
  margin-bottom: 2px;
}
